# Ignore the virtual environment folder
myvenv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# PyCharm project files
.idea/
*.iml

# VS Code project files
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
